{% load post_custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
    {% if login_user.username == profile_user.username%}
        <a href="{% url 'create_post' %}">پست جدید</a>
        <a href="{% url 'edit-user-profile' login_user.slug %}">  پروفایل ویرایش</a><br>
        <a href="{% url 'change_password' %}"> ------- عوض کردن رمز------</a><br>
        {% else %}
        <form  method="post">{% csrf_token %} <input type="submit" name="follow" value="follow"></form>
        {% endif %}
{% endif %}
<a href="{% url 'post_list' %}">پست ها</a>
<a href="{% url 'user_list' %}">کاربران</a>

<div>
    <div> {{ profile_user.post_set.count }} پست</div>
    <div>{{ profile_user.followings.count }} followers : {% for users in profile_user.followings.all %}<a href="{% url 'profile' users.user.slug%}"><span>{{ users.user.username }}</span></a>&nbsp; &nbsp;{% endfor %}</div>
    <div>{{profile_user.follower.count }}followings : {% for users in profile_user.follower.all %}<a href="{% url 'profile' users.following_user.slug%}"><span>{{ users.following_user.username }}</span></a>&nbsp; &nbsp;{% endfor %}</div>
</div>
{{ profile_user.username }}
<div>
    <ul>
        {% for post in profile_user.post_set.all %}
            <li><a href="{% url 'post_detail' post.slug%}">{{ post.title }} {{ post.age | age}}</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>