{% extends 'base.html' %}
{% load static %}
{% block title %}
    Search Friends
{% endblock title %}

{% block content %}
        <style>
        ul li{
            list-style: none;
        }
        ul li:hover{
            cursor: pointer;
        }
        body {
            background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;
            color: white;
            font: normal 32px/1.6 system-ui, sans-serif;
            margin: 3rem;
        }

        input {
            font: inherit;
            padding: 0.2em 0.5em;
        }
        </style>
        <div class="ui icon center input centered">
            <input class="prompt" type="text" name="email" id="email" placeholder="Search friends...">
        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
            $(function () {
                $("#email").autocomplete({
                    source: '{% url 'search-view' %}',
                    minLength: 1
                });
            });
            $(document).on('click','#ui-id-1 li', function (){
                var div=$(this).find('div').text();
                window.location.href="{% url 'profile' 0 %}".replace(0,div);
            });
        </script>

{% endblock content %}