{% extends 'base_index.html' %}
{% block title %}Post Setting{% endblock %}
{% block main %}

    <form method="post" enctype="multipart/form-data"
          class="flex justify-content-center flex-column align-items-center">
        {% csrf_token %}
        <table>
            <tr>{{ message }}</tr>
            <tr class="form-group">{{ form.as_table }}</tr>
            <tr class="form-group">
                <td></td>
                <td><input type="submit" value="save" style="width: 90%;margin-top: 10px;" class="btn btn-primary">
                </td>
            </tr>
        </table>

    </form>
{% endblock %}