{% load post_custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}">
    <script src="{% static 'lib/js/bootstrap.bundle.min.js' %}" ></script>
</head>
<body>
<ul>
    <li>عنوان :{{ object.title }} </li>
    <li>متن:{{ object.caption }}  </li>
    <li>{{ object.age | age }}</li>
    <li>{{ object.likes.count }}  نفر پسندیدند: {% for user in object.likes.all %}<span>{{ user.username }}&nbsp; &nbsp;</span>{% endfor %}</li>
    <li><a href="{% url 'profile' object.user.slug %}">{{ object.user.username }}</a></li>
    <li>{{ object.comment_set.count }}  کامنت:
    {% for comment in object.comment_set.all %}
        <p> {{ comment.user.username }} می گه  {{ comment.context }}</p>
        {% endfor %}
    </li>
</ul>
{#<a href="{% url 'post_detail' object.slug %}">like</a>#}
<form  method="post">
    {% csrf_token %}
    <table>
        <tr>{{ form.context }}</tr>
{#        <tr><td><input type="submit" value="like" name="like"></td></tr>#}
    </table>
</form>

<form method="post">
    {% csrf_token %}
    <input type="submit" value="like" name="like">
</form>
{% if user.is_authenticated%}
    {% if user.username == object.user.username %}
<form method="post">
    {% csrf_token %}
    <input type="submit" value="delete" name="delete">
</form>
        {% endif %}
{% endif %}
</body>
</html>