{% load post_custom_tags %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<a href="{% url 'create_post' object.slug%}">پست جدید</a>#}
{#<a href="{% url 'post_list' %}">پست ها</a>#}
{#<a href="{% url 'user_list' %}">کاربران</a>#}
{#<a href="{% url '' %}"></a>#}
{#<div>#}
{#    <div> {{ object.post_set.count }} پست</div>#}
{#    <div>دنبال کننده</div>#}
{#    <div>دنبال شونده</div>#}
{#</div>#}
{#<div>#}
{#    <ul>#}
{#        {% for post in object.post_set.all %}#}
{#            <li><a href="{% url '' %}"></a>{{ post.title }} {{ post.age | age}}</li>#}
{#            <li><a href="#"></a>{{ post.title }} {{ post.age | age}}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}
{#</body>#}
{#</html>#}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>payamgram</title>
    <link rel="stylesheet" href="{% static 'user/style.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
          media="all"/>


</head>
<body>
<div class="navbar">
    <div class="container">
        <a href="#" class="site-name">
            <div class="logo"><i class="fab fa-instagram fa-2x"></i></div>
            <div>پیام گرام</div>
        </a>

        <div class="search-form">
            <div class="input-wrapper">
                <form action="{% url 'profile' user.username %}" method="get">
{#                    {% csrf_token %}#}
                    <input type="text" name="username" placeholder="جست و جو " id="search-input">
                    {#                    <i class="fas fa-search fa-xs" id="search-icon"></i>#}
                </form>


            </div>

        </div>
        <div class="navigator">
            <div><i class="far fa-compass fa-lg"></i></div>
            <div><i class="far fa-heart fa-lg"></i></div>
            <div><i class="far fa-user fa-lg"></i></div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 50px; ">
    <div class="avatar">
        <!-- <img src="https://picsum.photos/300/300" alt="">  profile -->
    </div>

    <div class="info">
        <span class="user-name">{{ user.username }}</span>
        <span class="blue-btn"><a href="#" class="">دنبال کردن</a></span>
        <span class="blue-btn"><a href="#" class="" id=""><i class="fas fa-caret-down"></i></a></span>
        <!-- <span class="three-dots"><a href="#" class="" id=""><i class="fas fa-ellipsis-h"></i></a></span>        سه نقطه     -->

        <div class="stats">
            <div>
                <b>{{ object.post_set.count }}</b> پست
            </div>
            <div>
                <b>51k</b> دنبال شونده
            </div>
            <div>
                <b>405</b> <a href="{% url 'user_list' %}">دنبال کننده</a>
            </div>
        </div>

        <p class="bio">
            <b>{{ user.full_name }}</b><br>
            Aussie Illustrator & Character Designer 🌈<br>
            Sleeping Beauty Proposal Artist 💍<br>
            *Holiday mode* Currently freezing my butt off in Europe <br>
            www.kaylacoombs.com/shop <br>
        </p>
    </div>
</div>
<div class="container" style="justify-content: flex-start; ">
    <div class="stories">
        <!-- <img src="https://picsum.photos/300/300" alt=""   storyyyyyyyyyyy>
        <img src="https://picsum.photos/300/300" alt="">
        <img src="https://picsum.photos/300/300" alt="">
        <img src="https://picsum.photos/300/300" alt="">
        <img src="https://picsum.photos/300/300" alt="">
        <img src="https://picsum.photos/300/300" alt=""> -->

    </div>
</div>

<div class="menu">
    <div class="active"><a href="#"><i class="fal fa-th"></i> </a></div>
    <div><a href="{% url 'create_post' object.slug %}"><i class="fal fa-tv"></i> </a></div>
    <div><a href="#"><i class="fal fa-tags"></i> </a></div>
</div>
{#    <div class="container album">#}
{#        <div class="overlay">#}
{#            <!-- <img src="https://picsum.photos/300/300" class="list-item"> -->#}
{#        </div>#}
{#        <div class="overlay">#}
{#            <!-- <img src="https://picsum.photos/300/300" class="list-item"> -->#}
{#        </div>#}
{#        <div class="overlay">#}
{#            <!-- <img src="https://picsum.photos/300/300" class="list-item"> -->#}
{#        </div>#}
{#    </div>#}
<div class="container album">

    <ul>
        {% for post in object.post_set.all %}
            <li>
                <a href="{% url 'post_detail' post.slug %}">{{ post.title }} {{ post.age | age }}
                </a>
            </li>

        {% endfor %}
    </ul>

</div>
{#<ul>#}
{#    {% for post in object.post_set.all %}#}
{#        <li>#}
{#            <a href=" {% url 'post_detail' post.slug %}">#}
{#                {{ post }}#}
{#            </a>#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}

<script src="{% static 'user/main.js' %}"></script>
{#<script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
{#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
{#<script>#}
{#    $(function () {#}
{#        $("#user").autocomplete({#}
{#            source: '{% url 'autocomplete' user.slug%}',#}
{#            minLength: 2#}
{#        });#}
{#    });#}
{#</script>#}
<script>
    $(document).ready(function () {
        $("#username").autocomplete({
            source: "/ajax_calls/search/",
            minLength: 2,
            open: function () {
                setTimeout(function () {
                    $('.ui-autocomplete').css('z-index', 99);
                }, 0);
            }
        });
    });
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
            type="text/javascript"></script>
</body>
</html>
