{% load post_custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'post_list' %}">پست ها</a>
<a href="{% url 'user_list' %}">کاربران</a>
<div>
    <div> {{ object.post_set.count }} پست</div>
    <div>دنبال کننده</div>
    <div>دنبال شونده</div>
</div>
<div>
    <ul>
        {% for post in object.post_set.all %}
             <li><a href="{% url 'post_detail' post.slug%}">{{ post.title }} {{ post.age | age}}</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>