<header class=" header">
    <ul class="flex list-style menu-list">
        <li><a href="{% url 'index' %}" class="link link-color">صفحه ی اصلی </a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="link link-color">خروج</a></li>
            <li><a href="{% url 'post_list' %}" class="link link-color"> پست</a></li>
            <li><a href="{% url 'profile' user.slug%}" class="link link-color"> پروفایل</a></li>
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}" class="link link-color">ادمین</a></li>
                {% endif %}
        {% else %}
            <li><a href="{% url 'login' %}" class="link link-color">ورود</a></li>
            <li><a href="{% url 'signing' %}" class="link link-color">ثبت نام</a></li>
        {% endif %}
        {#        <li><a href="{% url 'login' %}" class="link link-color">ورود</a></li>#}
        {#        <li><a href="{% url 'signing' %}" class="link link-color">ثبت نام</a></li>#}
        <li><a href="#" class="link link-color">درباره ی ما</a></li>
    </ul>
</header>